<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>
<div>
  <%= link_to "Create New Product", new_product_path %>
</div><br>

<div>
<% @products.each do |product| %>
  <div>
    <% if product.image.attached? %>
      <%= image_tag product.image.variant(resize_to_limit: [100, 100]) %><br>
    <% end %>
    <%= product.name %> <br>
    $<%= product.price %>
  </div>
<% end %>
</div><br>
